button.linkedin-video-downloader-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  box-shadow: none;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.167s linear;
  z-index: 99999;

  &.top {
    top: 10px;
  }

  &.bottom,
  .vjs-has-started.vjs-user-inactive.vjs-playing &.bottom {
    bottom: 10px;
  }

  .vjs-has-started &.bottom {
    bottom: 65px;
  }

  &.left {
    left: 15px;
  }

  &.right {
    right: 15px;
  }

  &:hover {
    opacity: 1;
  }

  & > img {
    width: 30px;
    height: 30px;
  }
}
