button.linkedin-video-downloader-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  box-shadow: none;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.1s linear;

  &:hover {
    opacity: 1;
  }

  & > img {
    width: 30px;
    height: 30px;
  }
}