name: Publish Extension

on:
  push:
    branches:
      - master

jobs:
  publish:
    env:
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      APPZI_TOKEN: ${{ secrets.APPZI_TOKEN }}
      APPZI_ID: ${{ secrets.APPZI_ID }}
      EID: ${{ secrets.EXTENSION_ID }}
      OCI: ${{ secrets.OAUTH_CLIENT_ID }}
      OCS: ${{ secrets.OAUTH_CLIENT_SECRET }}
      ORT: ${{ secrets.OAUTH_REFRESH_TOKEN }}
      GIT_NAME: ${{ secrets.GIT_NAME }}
      GIT_EMAIL: ${{ secrets.GIT_EMAIL }}
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Install dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Run unit tests
        run: npm t -- --ci --maxWorkers=1
      - name: Configure git
        run: git config user.name $GIT_NAME && git config user.email $GIT_EMAIL
      - name: Bump version
        run: npx standard-version
      - name: Push version update commit
        run: git push origin master --follow-tags
      - name: Build production dist
        run: npm run dist
        env:
          NODE_ENV: production
      - name: Publish extension to Chrome Webstore
        run: npx chrome-webstore-upload-cli upload --auto-publish --source dist --extension-id $EID --client-id $OCI --client-secret $OCS --refresh-token $ORT
